<%- include('../includes/game-head.ejs') %>

<!-- SCRIPTS -->
<script src="/scripts/games-checkers.js" defer></script>

  <main>

    <h1 id="game-title">Checkers</h1>

    <div id="game-types">
      <button id="checkers-classic">Classic checkers</button>
      <button id="checkers-10x10">10x10 checkers</button>
    </div>

    <% if (typeof isAuthenticated !== 'undefined' && isAuthenticated) { %>

      <form id="form" action="" method="POST">
        <input type="submit" value="Join">
      </form>

    <% } else { %>
            
      <a href="/login"><button>Sign in</button></a>

      <form id="form" action="" method="POST">
        <input type="submit" value="Guest">
      </form>
        
    <% } %> 

  </main>

<%- include('../includes/game-footer.ejs') %>